In [7]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [8]:
# Question 1 Solution
x = np.ones(4)
x

## Q#2: Create y array with elements equal to 0.

In [9]:
# Question 2 Solution
y = np.zeros(4)
y

## Q#3: Add x and y arrays.

In [10]:
# Question 3 Solution
sum = x + y
sum

array([1., 1., 1., 1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [11]:
# Question 4 Solution
type(x)
x.dtype
x.ndim
x.shape
x.size

4

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [18]:
# Question 5 Solution
w = np.array([
             [11,12],
             [13,14],
             [15,16]
             ])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [63]:
# Question 6 Solution
z = np.array([[1,2,3]])
z

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [64]:
# Question 7 Solution
z  = z.transpose()
newArray = np.hstack((w, z))
newArray

array([[11, 12,  1],
       [13, 14,  2],
       [15, 16,  3]])

## Q#8: Print all elements of "newArray" using the loop.

In [56]:
# Question 8 Solution
for row in newArray:
    for num in row:
        print(num)

11
12
1
13
14
2
15
16
3

## Q#9: Reverse the columns and rows of "newArray".

In [65]:
# Question 9 Solution
newArray = newArray.transpose()
newArray

array([[11, 13, 15],
       [12, 14, 16],
       [ 1,  2,  3]])

## Q#10: Decrement all elements of "newArray" with 1.

In [66]:
# Question 10 Solution
newArray -= 1
newArray

array([[10, 12, 14],
       [11, 13, 15],
       [ 0,  1,  2]])

## Q#11: Find smallest and biggest values in "newArray".

In [68]:
# Question 11 Solution
newArray.min()
newArray.max()

0

## Q#12: Print the first row of "newArray" using indexing.

In [69]:
# Question 12 Solution
newArray[0]

array([10, 12, 14])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [70]:
# Question 13 Solution
newArray[0,1]

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [76]:
# Question 14 Solution
newArray[1,1]
newArray[2,0]

0

## Q#15: Change the shape of "newArray" to (9,1).

In [78]:
# Question 15 Solution
newArray = newArray.reshape(9,1)
newArray

array([[10],
       [12],
       [14],
       [11],
       [13],
       [15],
       [ 0],
       [ 1],
       [ 2]])

## Q#16: Change the shape of "newArray" to (3,3).

In [79]:
# Question 16 Solution
newArray = newArray.reshape(3,3)
newArray

array([[10, 12, 14],
       [11, 13, 15],
       [ 0,  1,  2]])

# Well Done ðŸŽ‰